* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
  font-family: Ubuntu;
}
h3 {
  font-size: 1.25rem;
}

/* navbar styles */
.navbar {
  max-width: 100%;
  padding-top: 1rem;
  background: rgba(50,105,132,0);
  transition: background 0.5s ease;
}
.navbar.scrolled {
  background: rgba(50,105,132,0.95);
}
#logo {
  width: 40px;
  margin-right: 1rem;
}
.navbar-brand {
  letter-spacing: .1em;
}
.navbar-collaps {
  padding: 0 !important;
}
.nav-item:first-of-type {
  margin-top: 1rem;
}
.nav-item {
  font-size: 1.2em;
}


/* fixed background for jumbotron and projects*/
.jumbotron {
  background-color:rgba(50,105,132,0.95);
}

/* jumbotron styles */
#hero {
  width: 60%;
  display:block;
  margin: auto;
}
#heading {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.display-5 {
  margin: 5rem auto 0;
}
#photo {
  margin: 3rem auto 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #2eb8b8;
}
#heading h3 {
  margin: 2rem auto;
}
#heading p {
  width: 70%;
  margin: auto;
  font-size: 1.15rem;
  letter-spacing: .1rem;
}
.button {
  margin: 3rem auto;
  border-radius: 5px;
  padding: 1em;
  background: #e68a00;
  border: none;
  color: rgb(20,55,70);
  font-size: 1.3rem;
  font-weight: 400;
  padding: .75rem 1.5rem;
}
.button:hover {
  background: #ffa31a;
  text-decoration: none;
  color: rgb(20,55,70);
}
#gospel,
#resources {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}
#resources {
  padding-top: 0;
}


/* footer styles */
footer {
  background: rgb(43,52,60);
  width: 100vw;
  padding-bottom: 3rem;
}
#footer-menu,
#connect-menu {
  flex-direction: row;
  justify-content: center;
}
.connect-icon {
  width: 40px;
  margin: .5rem 2rem;
}
.connect-icon path {
  fill: #2eb8b8;
  transition: .5s ease;
}
.connect-icon:hover {
  cursor: pointer;
}
#footer-menu a {
  margin: .5rem 1rem;
  color: #2eb8b8;
  transition: .5s ease;
}
#footer-menu a:hover {
  color: white;
}


@media screen and (min-width: 550px) {
  .nav-item:first-of-type {
    margin-top: 0;
  }
  .nav-item {
    margin-left: 1rem;
  }
  #connect-button {
    background: #2eb8b8;
    color: rgb(43,52,60);
    border-radius: 5px;
    transition: .5s ease;
  }
  #connect-button:hover {
    background: #2ef8f8;
  }
  #mobile-hero {
    display: none;
    -webkit-display: none;
  }
  .jumbotron {
    height: 70vh;
    background-image: url("../images/teal-stack-wide.png");
    background-position: center;
    background-size: cover;
    filter: brightness(85%) contrast(110%);
  }
}